/* пупупу, тут наверняка что-то будет */
#home {
  padding: 20vh 60% 20vh 80px;
  height: 500px;
  width: 100%;
  margin-right: 0;
  overflow: hidden; /* Уберём возможное переполнение */
}

#home h1, #home p, #home .btn {
  opacity: 0; /* Начальное состояние — невидимое */
  transform: translateY(-20px); /* Смещение вверх */
  animation: slideDownFade 1s ease-out forwards; /* Анимация */
}

#home h1 {
  animation-delay: 0s; /* Без задержки */
}

#home p {
  animation-delay: 0.3s; /* Задержка появления */
}

#home .btn {
  animation-delay: 0.6s; /* Задержка появления */
}

@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Композиция кубов */
.composition {
  position: absolute;
  top: 10%;
  right: -200px;
  width: 600px;
  height: 600px;
  z-index: 1;
  pointer-events: none;
}

/* Общие стили для кубов */
.cube {
  position: absolute;
  background: linear-gradient(45deg, #E7F6FF, #102038);
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
  transform-origin: center;
  opacity: 0; /* Начальное состояние: невидимо */
  animation-fill-mode: forwards; /* Оставить конечное состояние после анимации */
}

/* Cube 1 */
.cube.cube1 {
  width: 450px;
  height: 450px;
  z-index: 3;
  top: 170px;
  left: 50px;
  animation: cube1Animation 2s ease-out 0s forwards;
}

@keyframes cube1Animation {
  0% {
    transform: translateX(100%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(-36deg);
    opacity: 0.5;
  }
}

/* Cube 2 */
.cube.cube2 {
  width: 300px;
  height: 300px;
  z-index: 1;
  top: -10px;
  left: 105px;
  animation: cube2Animation 2s ease-out 0.2s forwards;
}

@keyframes cube2Animation {
  0% {
    transform: translateX(100%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(286deg);
    opacity: 0.4;
  }
}

/* Cube 3 */
.cube.cube3 {
  width: 120px;
  height: 120px;
  z-index: 4;
  top: 396px;
  left: -13px;
  animation: cube3Animation 2s ease-out 0.4s forwards;
}

@keyframes cube3Animation {
  0% {
    transform: translateX(100%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(253deg);
    opacity: 0.7;
  }
}

/* Cube 4 */
.cube.cube4 {
  width: 70px;
  height: 70px;
  z-index: 5;
  top: 450px;
  left: -300px;
  animation: cube4Animation 2s ease-out 0.6s forwards;
}

@keyframes cube4Animation {
  0% {
    transform: translateX(100%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(38deg);
    opacity: 0.3;
  }
}

/* Cube 5 */
.cube.cube5 {
  width: 160px;
  height: 160px;
  z-index: 2;
  top: 70px;
  left: -180px;
  animation: cube5Animation 2s ease-out 0.8s forwards;
}

@keyframes cube5Animation {
  0% {
    transform: translateX(100%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(-93deg);
    opacity: 0.6;
  }
}
